.header-logo__wrapper {
  margin-top: 1.5rem;
}

.header-logo {
  width: 100px;
  height: 100px;
  display: inline-block;
}

* {
  font-family: Arial;
}

.main__container {
  text-align: center;
}

.message-container {
  background-color: #E5EFEF;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 1.5rem 50px;
  display: inline-block;

  @media screen and (min-width: 768px) {
    padding: 2rem 6rem;
  }
}

.cta-wrapper {
  background-color: #006766;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}

.cta-wrapper a {
  color: white;
  text-decoration: none;
}

.cta-wrapper a:visited {
  color: white;
}

.notes-wrapper {
  width: 100%;
  text-align: center;
}

.notes {
  color: grey;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
}
