extends partials/main-layout.partial.pug

include partials/mixins.pug

block content
    div(class="header-logo__wrapper")
        img(class="header-logo", src=assetsPath + "/openscn-logo.png")

    h1(class="header-title") You're invited to join OpenSCN

    div(class="message-container")
        p You have been invited to join OpenSCN!
            br
            span Use the following button to create your account

        +cta(clientUrl + clientPath + "?" + clientQuery, "Register")

        p Thanks for considering using our service!


    div(class="notes-wrapper")
        p(class="notes") Alternatively you can use the following link
            br
            a(href=clientUrl + clientPath + "?" + clientQuery) #{clientUrl}#{clientPath}?#{clientQuery}
