extends partials/main-layout.partial.pug

include partials/mixins.pug

block content

  div(class="header-logo__wrapper")
    img(class="header-logo", src=assetsPath + "/openscn-logo.svg")

  h1(class="header-title") You have requested password reset

  div(class="message-container")
    p You requested to change your password
      br
      span Use the following button to create your account

    +cta(clientUrl + clientPath + "?" + clientQuery, "Reset password")

  div(class="notes-wrapper")
    p(class="notes") Alternatively you can use the following link
      br
      a(href=clientUrl + clientPath + "?" + clientQuery) #{clientUrl}#{clientPath}?#{clientQuery}
